/* CSS */
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mainNav {
  background-color: #100b26 !important;
  display: flex;
  margin-left: 50vh;
  margin-right: 60vh;
  flex: 0 0 auto;
  white-space: nowrap;
  border-radius: 5px;
}
.specialX {
  color: #f2f0e6;
  font-size: 15px;
  margin-right: -5px;
}